{% extends "basic.html"%}


{% block title %}About page{% endblock %}
{% block style %}
.btn-dark:hover {

    background-color: green;
color:red;

}

.container1{
width:100%;


}


.card1{
background-color:gray;
color:white;
height:300px;



}
.card-body{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.h1-primary{
display:flex;
align-items:center;
justify-content:center;
}
.card{
margin-left:35px;
margin-top:10px;

}

.container2{
display:flex;

align-items:center;
justify-content:center;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 194px;
}

.btn-dark{
margin-top:10px;
}
{% endblock %}
{% block body %}
<div class="container1">

  <div class="card1 ">

  <div class="card-body">
    <h2 class="card-title">About Us !</h2>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>
</div>

</div>
<h1 class="h1-primary"> Our Tutors & Mentors </h1>

<div class="container2 my-2">



    <div class="card" style="width: 18rem;">
  <img src="https://tse3.mm.bing.net/th?id=OIP.17dbg8KgqxlYw93i3UMNxAHaEK&pid=Api&P=0&w=273&h=155" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Raghao Rao</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5>raghaorao21@gmail.com</h5>
    <a href="#" class="btn btn-dark">Contact</a>
  </div>
</div>


    <div class="card" style="width: 18rem;">
  <img src="https://tse4.mm.bing.net/th?id=OIP.XIo-TjWQ2bgPm49r6qqlewHaFj&pid=Api&P=0&w=247&h=186" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Barun Sobati</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5>barunsobati34@gmail.com</h5>
    <a href="#" class="btn btn-dark">Contact</a>
  </div>
</div>


    <div class="card" style="width: 18rem;">
  <img src="https://tse1.mm.bing.net/th?id=OIP.u_YMT_JbYe8d1H7pWD2ovAHaGB&pid=Api&P=0&w=200&h=163" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Barun Sobati</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5>barunsobati34@gmail.com</h5>
    <a href="#" class="btn btn-dark">Contact</a>
  </div>
</div>

</div>
<div class="container2 ">
    <div class="card" style="width: 18rem;">
  <img src="https://tse4.mm.bing.net/th?id=OIP.po_TV9OIMYwAmh3E4h73rAAAAA&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Barun Sobati</h5>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5>barunsobati34@gmail.com</h5>
    <a href="#" class="btn btn-dark">Contact</a>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img src="https://tse3.mm.bing.net/th?id=OIP.EUt3TWjAmR5y89C0KpQCcAHaFb&pid=Api&P=0&w=225&h=166" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Barun Sobati</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5>barunsobati34@gmail.com</h5>
    <a href="#" class="btn btn-dark">Contact</a>
  </div>
</div>


  <div class="card" style="width: 18rem;">
  <img src="https://tse3.mm.bing.net/th?id=OIP.w_TjArgQ_8mrKXdOBjHUQwHaHa&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Barun Sobati</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h5>barunsobati34@gmail.com</h5>
    <a href="#" class="btn btn-dark">Contact</a>
  </div>
</div>

  </div>


</div>

{% endblock %}